@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");


body {
  font-family: "Orbitron", sans-serif;
  background: url(hm.png);
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
  height: 100vh; 
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
}


h1 {
  margin-bottom: 10px;
  font-size: 28px;
  color: #020202;
  font-weight: bold;
}

a {
  font-size: 12px;
  color: #505050;
  text-decoration: none;
  padding-right: 278px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
  color: #000000;
  font-weight: bold;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  font-size: 15px;
}

input:focus {
  outline: none;
  box-shadow: 0 0 8px #939393;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #00ce07;
}

button[type="reset"] {
  padding: 10px 20px;
  background-color: #c73434;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button[type="reset"]:hover {
  background-color: #d90000;
}

#result {
  margin-top: 15px;
  font-size: 20px;
}

#khodamImage {
  margin-top: 10px;
  max-width: 100%;
  height: 250px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#result span {
  font-weight: bold;
}

#result .khodam-name {
  color: #ff7700;
}
#result {
  color: #000000;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

#result .not-found {
  color: #ed3208;
}
#result .not-found1 {
  color: #4CAF50;
}
